body {
    height: 100%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
}

textarea {
    width: 35em;
    height: 150px;
    padding: 12px 20px;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
    /*margin-bottom: 10px;*/
}

button {
    position: relative;
    right: 2em;
    padding: 8px 19px;
}

#showResult {
    border: 2px solid #ccc;
    width: 35em;
    border-radius: 4px;
    height: 50px;
    resize: none;
    padding: 12px 20px;
    margin-left: 4%;
    margin-top: 30px;
    display: inline-flex;
}

#copyIcon {
    position: relative;
    left:5%;
    margin-bottom: 60%;
}